.backgroundHeader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
    url(../assets/Desktop_Backgrounds_1920x1200_6.png);
}

.logo{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    padding: 20px;
    top: 28%;
    background-image:
    url(../assets/logo.png);
}

.logoLittle{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image:
    url(../assets/logo.png);
    border: none;
}

.rectangle{
    position: absolute;
    top: 735px;
    width: 100%;
    left: 0%;
    margin-left: 0%;
    justify-content: center;
    background-size: cover;
    text-align: center;
    background-size: cover;
    padding: 0px;

    background: #EEEEEE;
}

.second{
    position: absolute;
    top: 1030px;
}

.backgroundBody{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    top: 1270px;
    align-items: center;
    justify-content: center;
    background-image:
    url(../assets/IMG_1334_72dpi_RGB_1.png);
    opacity: 0.8;
}

.footer {
    position: absolute;
    top: 2000px;
    /*2118px;*/
    width: 100%;
    left: 0%;
    background: #464547;
    justify-content: left;
    background-size: cover;
    text-align: left;
    background-size: cover;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}



