.letterHeadline{
    width: auto;
    height: auto;
    top: 50%;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.letterSubheader{
    position: absolute;
    width: 426px;
    height: 56px;
    top: 65%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: rgba(255, 255, 255, 0.7);

}

.tittleSubHeader{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #464547;

}

.textSubHeader{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #666666;
}

.textBody{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    width: 983px;
    margin: 0 auto;

    color: #000000;
}

.textSudBody{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.footerDetails{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    text-align: left;
    justify-content: left;
    margin-left: 100px;

    color: rgba(255, 255, 255, 0.4);
}

.footerTittle{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 100px;
    
    color: #FFFFFF;
}